:root {
  --primary-color: white;
  --secondary-color: white;
  --bg-color: #5d3fd3;
  --test: #7a29cc;
  --test1: #f0e6fa;
  --test2: #e0e0e0;
  --test3: #c0c0c0;
  --test4: #c0c0c0;
  --test5: #dcc5f3;
  --test6: #c7ffff;
  --test7: #8fcadd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
  z-index: 4;
  transition: opacity 0.75s, visibility 0.75s;
  transition-delay: 2s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}
.loader::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 15px solid var(--primary-color);
  background: var(--bg-color);
  border-top-color: #5d3fd3;
  border-radius: 50%;
  animation: loading;
  animation-duration: 3s;
  animation-iteration-count: 10;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

body {
  background-image: url('public/Bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #5d3fd3;
  color: var(--test6);
  min-height: 100vh;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

main,
footer {
  width: 100vw;
  max-width: none;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.05em;
}

header {
  display: flex;
  align-items: left;
  justify-content: space-between;
  gap: 50px;
  padding-right: 200px;
  border-bottom: 3px double var(--test7);
  padding-top: 20px;
}

nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

nav a {
  cursor: pointer;
  text-decoration: none;
  font-family: "Fira Code", sans-serif;
  color: var(--test6);
  overflow: hidden;
  font-size: 20px;
}

nav a:hover {
  opacity: 0.7;
}

nav a:clicked {
  color: var(--primary-color);
  text-decoration: none;
}

.heading-container {
  background-image: url('public/Bg.jpg');
  position: relative;
  z-index: 1;
  
  height: 700px;
}

.icon {
  padding-right: 10px;
  padding-left: 80px;
}

.Paul {
  font-family: "Fira Code", sans-serif;
  font-size: 25px;
}

.nameContainer {
  gap: 8px;
  position: absolute;
  margin-left: 10px;
  padding-top: 70px;

  z-index: 3;
  width: 70%;
  left: 250px;
  top: 0px;
  height: 100px;
  right: 100px;
}

.nameContainer h1 {
  font-size: 60px;
  font-family: "Fira Code", sans-serif;
}

.imgContainer {
  padding-top: 50px;
  position: absolute;
  left: -100px;
  top: 50px;
  z-index: 2;
}

.imgContainer img {
  width: 300px;
  height: 400px;
  object-fit: fill;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--test7);
}

.links {
  position: absolute;
}
.linkText {
  font-family: "Fira Code", sans-serif;
}

.githubIcon {
  position: absolute;
  padding-top: 40px;
  text-decoration: none;
  font-size: 30px;
  left: -150px;
  text-wrap: nowrap;
  bottom: -90px;
  z-index: 3;
}

.linkIcon {
  position: absolute;
  padding-top: 40px;
  text-decoration: none;
  font-size: 30px;
  left: 200px;
  text-wrap: nowrap;
  bottom: -90px;
  z-index: 3;
}

.links a {
  text-decoration: none;
}
.links a span {
  color: var(--test6);
}

.links a:visited {
  color: var(--test6);
  text-decoration: none;
}

.links a:hover {
  opacity: 0.7;
}

.links span {
  margin-left: 20px;
}

.aboutContainer {
  padding-top: 50px;
  font-family: "Fira Code", sans-serif;
  background-image: url('public/pic1.jpg');
}

.aboutContainer .icon {
  padding-right: 10px;
}

.aboutContainer h2 {
  font-size: 2.6rem;
  padding-bottom: 5px;
}

.aboutContainerDiv p {
  padding-top: 10px;
  margin-right: 1rem;
  text-align: justify;
  font-size: 1.5rem;
  border-top: solid 5px var(--test7);
}

.aboutContainer h3 {
  font-size: 2.6rem;
  padding-top: 50px;
}

.stack ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  list-style-type: square;
  padding-left: 33px;
  padding-top: 20px;
  margin-right: 1rem;
  font-size: 30px;
  border-top: solid 5px var(--test7);
}

.stack ul li {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
}

main {
  gap: 64px;
  padding-bottom: 64px;
}
.initial {
  font-family: "Fira Code", sans-serif;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.secTitle {
  font-family: "Fira Code", sans-serif;
}

.text-under {
  font-family: "Fira Code", sans-serif;
  font-size: 1.6rem;
  margin-top: 20px;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  scroll-snap-align: start;
}

.projectContainer {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  background-image: url('public/pic2.jpg');
}

.headerText {
  margin-bottom: 24px;
}

.projectText {
  font-weight: bold;
  font-size: 2.6rem;
}

.projectItem {
  display: flex;
  align-items: stretch;
  gap: 24px;
}

.projectItem div:first-child {
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex: 1;
}

.projectItem > div:last-child {
  aspect-ratio: 16/9;
  max-width: 30%;
  overflow: hidden;
  border-radius: 8px;
}

.projectItem > div:last-child img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 24px;
}

.linkItem {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 14px !important;
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

.linkItem:hover {
  opacity: 0.7;
}

.linkItem p {
  font-size: 0.9em;
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.techStack span {
  padding: 8px 16px;
  background-color: var(--test7);
  color: var(--bg-color);
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.back {
  text-decoration: none;
  color: var(--test6);
}
.back:hover {
  opacity: 0.7;
}
.back:visited {
  color: var(--test6);
  text-decoration: none;
}

.contact {
  padding-top: 150px;
  font-size: 2rem;
  border-bottom: solid 5px var(--test7);
}

.contactMe {
  margin-left: 20px;
  font-size: 1.6rem;
}

.contactlinks {
  padding-top: 30px;
  padding-bottom: 30px;
}

.contactInfo {
  background-image: url('public/pic3.jpg');
}

@media (max-width: 480px) {
  nav {
    padding-left: 50px;
  }
  h2,
  nav {
    display: inline;
    justify-content: left;
    flex-wrap: wrap;
    align-items: left;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  header {
    padding-right: 0;
    padding-left: 0;
  }
  .nameContainer {
    gap: 8px;
    margin-top: 50px;
  }
  .heading-container {
    flex-wrap: wrap;
  }
  .nameContainer {
    padding-left: 0;
  }
}
