:root {
  --primary-color: white;
  --secondary-color: white;
  --bg-color: #f000;
  --test: #7a29cc;
  --test1: #f0e6fa;
  --test2: #e0e0e0;
  --test3: #c0c0c0;
  --test4: #c0c0c0;
  --test5: #dcc5f3;
  --test6: #c7ffff;
  --test7: #8fcadd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", serif;
}
html {
  scroll-behavior: smooth;
}


body {
  background-color: #fff;
  width: 100vw;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  color: #fff;
}

main,
footer {
  width: 100vw;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: left;
  justify-content: space-between;
  padding-right: 200px;
  padding-top: 20px;
}

.heading-container {
  background-image: url('public/Bg.jpg');
  background-size: 100vw 100vh;    
  background-repeat: no-repeat; 
  background-position: center;   
  background-color: #fff;        
  position: relative;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding: 0 1rem;
}

.heading-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: 
    url('public/Bg.jpg');
  background-size: cover;  
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  filter: blur(1px); 
  z-index: 1;
}

.heading-container > * {
  position: relative;
  z-index: 2;
}

.nameContainer {
  gap: 8px;
  position: absolute;
  margin-left: 10px;
  padding-top: 70px;
  z-index: 3;
  width: 70%;
  left: 250px;
  top: 0px;
  height: 100px;
  right: 100px;
}

.name {
  font-size: 2.6em;
}

.links {
  position: absolute;
}
.linkText {
  font-family: "Fira Code", sans-serif;
}

.githubIcon {
  position: absolute;
  padding-top: 40px;
  text-decoration: none;
  font-size: 30px;
  left: -150px;
  text-wrap: nowrap;
  bottom: -90px;
  z-index: 3;
}

.linkIcon {
  position: absolute;
  padding-top: 40px;
  text-decoration: none;
  font-size: 30px;
  left: 200px;
  text-wrap: nowrap;
  bottom: -90px;
  z-index: 3;
}

.links a {
  text-decoration: none;
}
.links a span {
  color: var(--test6);
}

.links a:visited {
  color: var(--test6);
  text-decoration: none;
}

.links a:hover {
  opacity: 0.7;
}

.links span {
  margin-left: 20px;
}

.aboutContainer {
  padding-top: 50px;
  background-image: url('public/pic1.jpg');
}

.aboutContainer .icon {
  padding-right: 10px;
}

.aboutContainer h2 {
  font-size: 2.6rem;
  padding-bottom: 5px;
}

.aboutContainerDiv p {
  padding-top: 10px;
  margin-right: 1rem;
  text-align: justify;
  font-size: 1.5rem;
  border-top: solid 5px var(--test7);
}

.aboutContainer h3 {
  font-size: 2.6em;
  padding-top: 50px;
}

.stack ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  list-style-type: square;
  padding-left: 33px;
  padding-top: 20px;
  margin-right: 1rem;
  font-size: 30px;
  border-top: solid 5px var(--test7);
}

.stack ul li {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
}

main {
  gap: 64px;
  padding-bottom: 64px;
}
.initial {
  font-family: "Times New Roman", serif;
  font-size: 3em;
  margin-bottom: 40px;
  font-weight: 550;
}

.welcome-italic {
  font-style: italic;
}

.secTitle {
  font-family: "Fira Code", sans-serif;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  scroll-snap-align: start;
}

.projectContainer {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  background-image: url('public/pic2.jpg');
}

.headerText {
  margin-bottom: 24px;
}

.projectText {
  font-weight: bold;
}

.projectItem {
  display: flex;
  align-items: stretch;
  gap: 24px;
}

.projectItem div:first-child {
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex: 1;
}

.projectItem > div:last-child {
  aspect-ratio: 16/9;
  max-width: 30%;
  overflow: hidden;
  border-radius: 8px;
}

.projectItem > div:last-child img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 24px;
}

.linkItem {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 14px !important;
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

.linkItem:hover {
  opacity: 0.7;
}

.linkItem p {
  font-size: 0.9em;
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.techStack span {
  padding: 8px 16px;
  background-color: var(--test7);
  color: var(--bg-color);
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.back {
  text-decoration: none;
  color: var(--test6);
}
.back:hover {
  opacity: 0.7;
}
.back:visited {
  color: var(--test6);
  text-decoration: none;
}

.contact {
  padding-top: 150px;
  font-size: 2rem;
  border-bottom: solid 5px var(--test7);
}

.contactMe {
  margin-left: 20px;
  font-size: 1.6rem;
}

.contactlinks {
  padding-top: 30px;
  padding-bottom: 30px;
}

.contactInfo {
  background-image: url('public/pic3.jpg');
}

@media (max-width: 480px) {
  nav {
    padding-left: 50px;
  }
  h2,
  nav {
    display: inline;
    justify-content: left;
    flex-wrap: wrap;
    align-items: left;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  header {
    padding-right: 0;
    padding-left: 0;
  }
  .nameContainer {
    gap: 8px;
    margin-top: 50px;
  }
  .heading-container {
    flex-wrap: wrap;
  }
  .nameContainer {
    padding-left: 0;
  }
}
